@font-face {
    font-family: avenir;
    src: url(../assets/fonts/avenir_ff/AvenirLTStd-Book.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: whitesmoke;
}

/*Comienzo Header*/

header {
    width: 90vw;
    height: 30vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-areas:
    ". ."
    ". toogle"
    "logo logo"
}

.logo {
    grid-area: logo;
    place-self: start center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80%;
}

    /* inicio navbar*/


.navbar {
    display: none;
}

.navbar li {
    width: 80px;
    height: 30px;
    display: flex;
}

.navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: avenir;
    font-size: 1.5rem;
    color: #1e1e1e;
    text-decoration: none;
}


.navbar li a:hover {
    border: 2px solid #3c5784;
    background-color: #3c5784;
    border-radius: 0.3em;
    color: #fff;
}

.navbar li a:active {
    color:#b0b0b0;
}

.mobile-navbar {
    width: 100vw;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em;
    background-color: #3c5784;
    border-radius: 0.5em 0.5em 0px 0px;
}


.mobile-navbar li {
    width: 40px;
    height: 30px;
    display: flex;
    gap: 10px;
}

.mobile-navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: avenir;
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: none;
}

.mobile-navbar li a:hover {
    color: #b0b0b0;
}

    /* fin navbar*/

    /* inicio switch idioma*/

.toogle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    grid-area: toogle;
    place-self: start end;
}

.toogle .es, .toogle .en{
    /*width: 35px;
    height: 35px;*/
    width: 17.5px;
    height: 17.5px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25)
}

.toogle .es {
    background-image: url(../assets/icons/bandera-españa.svg);
}

.toogle .en {
    background-image: url(../assets/icons/bandera-reino-unido.svg);
}

.toogle .switch {
    position: relative;
    /*width: 50px;
    height: 25px;*/
    width: 25px;
    height: 12.5px;
}

.switch:before {
    content: '';
    position: absolute;
    /*width: 50px;
    height: 25px;*/
    width: 25px;
    height: 12.5px;
    background-color: #b0b0b0;
    border-radius: 25px;
}

.switch:after {
    content: '';
    position: absolute;
    /*width: 25px;
    height: 25px;*/
    width: 12.5px;
    height: 12.5px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #b0b0b0;
    box-sizing: border-box;
    transition: 0.25s;
}

.switch:checked:after {
    /*left: 25px;*/
    left: 12.5px;
    border: 2px solid #b0b0b0;
}

.switch:checked:before {
    background-color: #b0b0b0;
}
    /*fin switch idioma*/

/*Fin Header*/

/*Inicio Main Index*/

.home-main {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

    /*inicio banner*/
/*.banner {
    width: 100%;
    height: 67.5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url(/assets/images/automatizacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.banner p {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #fff;
    line-height: 4rem;
    padding: 0.3em;
}*/

.carousel {
    height: 67.5vh;
}

.carousel-container {
    height: 100%;
}

.carousel-item-container {
    height: 100%;
}

.carousel-img {
    height: 100%;
}

.carousel-button {
    opacity: 1;
}

.carousel-button-icon {
    width: 35px;
    height: 35px;
}

    /*fin banner*/

    /*inicio service*/

.service {
    width: 90vw;
    display: grid;
    margin: 0 auto;
    gap: 50px;
}

.service h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #3c5784;
    text-align: center;
    padding: 0.25em;
}

.service-container {
    display: grid;
    grid-auto-rows: 36rem;
    grid-template-columns: repeat(auto-fit, min(26rem));
    place-content: center;
    gap: 50px;
}

.service-container article {
    display: flex;
    position: relative;
    width: 260px;
    height: 360px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-container .engineering {
    background-image: url(./../assets/images/plano2.jpg);
    background-position: -40px 140px;
}


.service-container .automation {
    background-image: url(./../assets/images/automatizacion.jpg);
    background-position: -200px 70px;
}

.service-container .ethernet {
    background-image: url(./../assets/images/ethernet.jpg);
    background-position: -200px 120px;
}

.service-container .datacenter {
    background-image: url(./../assets/images/datacenter.jpg);
    background-position: -140px 0px;
}

.service-container .hardware {
    background-image: url(./../assets/images/hardware2.jpg);
    background-position: -180px 80px;
}

.service-container .software {
    background-image: url(./../assets/images/software2.jpg);
    background-position: -210px 80px;
}

.service-container .background {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #cdcdcd 20%, #e6e6e6 45%, #ffffff00 100%);
    
}

.service-container article .icon {
    position: absolute;
    top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
}

.service-container article .icon img {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(34%) sepia(5%) saturate(4446%) hue-rotate(179deg) brightness(92%) contrast(93%);
}

.service-container article .icon h3 {
    width: 80%;
    font-family: avenir;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #1e1e1e;
    text-align: center;
}

    /*fin service*/

    /*inico project*/

.project {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.project h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #3c5784;
    text-align: center;
    padding: 0.25em;
}

.project .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    /*background-color: #e6e6e6;*/
    /*padding: 10px 10px;*/
    border-radius: 7px;
}

.project .video-container article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #333333;
    border-radius: 20px;
}

.project .video-container article .iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.project .video-container article .iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px 20px 0px 0px;
}


/*.project .video-container article iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    opacity: 1;
}*/

.project .video-container article p {
    font-family: avenir;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0.6em;
    color: #fff;
    text-align: justify;
    opacity: 0.8;
}

    /*fin project*/

    /*inicio location*/

.location {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.location h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #3c5784;
    padding: 0.25em;
}

.location iframe {
    width: 100%;
}

    /*fin location*/

/*Fin Main Index*/

/*Inicio Main Nosotros*/

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.about {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-family: avenir;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    text-align: center;
    color: #3c5784;
}

.about__text {
    font-family: avenir;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    color: #3c5784;
}

.about__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3em;
    gap: 5em;
}

.about__card .about-card__wrapper {
    width: 28em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 2.5em;
    background-color: #fff;
    box-shadow: .7em .7em .3em 0em rgba(0,0,0,0.75);
}

.about-card__wrapper .about-card__head,
.about-card__wrapper .about-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em 2em;
}

.about-card__wrapper .about-card__head {
    position: relative;
}

.about-card__wrapper .about-card__body {
    gap: 2em;
}

.about-card__head .about-card__image {
    position: relative;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background: #fff;
    padding: 0.3em;
}

.about-card__head .about-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: .4em solid #019aa2;
}

.about-card__body .about-card__name {
    font-family: avenir;
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
}

.about-card__body .about-card__position {
    font-family: avenir;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    
}

.about-card__body .about-card__description {
    width: 100%;
    font-family: avenir;
    font-size: 1.4rem;
    font-weight: 500;
    color: #707070;
    text-align: center;
    line-height: 3rem;
    padding: .1em;
    border-bottom: 0.2em solid #c7c7c7;
    border-top: 0.2em solid #c7c7c7;
}

.about-card__head .about-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #019aa2;
    border-radius: 2.5em 2.5em 0 2.5em;
}

.about-card__head .about-card__overlay::before,
.about-card__head .about-card__overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: #019aa2;
}

.about-card__head .about-card__overlay::after {
    border-radius: 0 2.5em 0 0;
    background-color: #fff;
}


/*FIn Main Nosotros*/

/*Inicio Main Servicios*/

.service-card {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.service-card .service-card__article {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.service-card__article .service-card__image {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service-card__image .service-card__title {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    padding: 0.3em;
    text-align: center;
    background-color: rgb(1, 1, 1, 0.5);
    color: #fff;
}

.engineering .service-card__image {
    background-image: url(./../assets/images/plano2.jpg);
}

.automation .service-card__image {
    background-image: url(./../assets/images/automatizacion.jpg);
}

.ethernet .service-card__image {
    background-image: url(./../assets/images/ethernet.jpg);
}

.datacenter .service-card__image {
    background-image: url(./../assets/images/datacenter.jpg);
}

.hardware .service-card__image {
    background-image: url(./../assets/images/hardware2.jpg);
}

.software .service-card__image {
    background-image: url(./../assets/images/software2.jpg);
}


.service-card__article .service-card__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em 1em;
}


.service-card__body .service-card__description {
    font-family: avenir;
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
    text-align: center;
}

.service-card__body .service-card__detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    margin-bottom: 0;
    padding-left: 0;
}

.service-card__body .service-card__detail li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: avenir;
    font-size: 1.5rem;
    background-color: #b0b0b0;
    color: #ffffff;
    border-radius: 0.5em;
    padding: 0.55em;
    text-align: center;  
}

/*Fin Main Servicios*/

/*Inicio Main Asociados*/

.partner-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner-container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

.partner-container__intro {
    font-family: avenir;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #3c5784;
    text-align: center;
}

.partner-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

.partner-card .partner-card__item {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.partner-card .partner-card__image {
    width: 100%;
    border: 0.2em solid black;
    padding: 0.5em;
}

.partner-card .partner-card__name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

/*Fin Main Asociados*/

/*Inicio Main Contacto*/

.form-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #343434;
    color: #fff;
}

.form-container .form-container__title {
    display: flex;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.066667em;
    padding: 0.5em 0.666667em;
}

.form-container .form-container__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.25em;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1em;
    color: #00276c;
    background-color: #b0b0b0;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-form__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.contact-form__form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form__form input,
.contact-form__form select,
.contact-form__form textarea {
    border: none;
    padding: 0.7em;
    background: none;
    outline: 0;
    border-bottom: 1px solid #3c5784;
    color: #fff;
    font-family: avenir;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.contact-form__form option {
    color: #222222;
}

.contact-form__button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .8em 2em;
    background: #3c5784;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    cursor: pointer;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #000;
    box-shadow: 0 0 2em 0 rgba(255, 255, 255, .3);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 1em 0.5em;
}

.contact-info .contact-info__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.contact-info .contact-info__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8em;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 0;
    padding-left: 0;
}

.contact-info .contact-info__text {
    color: #ffffff;
    line-height: 2.5rem;
    text-align: left;
}

/*FIn Main Contacto*/

/*Inicio Footer*/

footer {
    display: flex;
    margin: 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.social-media-container {
    max-width: 320px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-media-container a,
.social-media-container p {
    font-family: avenir;
    font-size: 1.4rem;
    color: #3c5784;
    text-align: center;
    text-decoration: none;
}


.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    margin: 50px 0px;
}

.whatsapp-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-media-icons a,
.whatsapp-icon a {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-media-icons a i,
.whatsapp-icon a i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0,0,0,.35);
    transition: all .3s ease;
}

.whatsapp-icon a i {
    color: white;
    background-color: #25D366;
}

.fa-brands {
    width: 100%;
    height: 100%;
}

.fa-whatsapp:hover {
    background-color: #25D366;
    box-shadow: 0 0 15px #25D366,
                0 0 45px #25D366,
                0 0 75px #25D366,
                0 0 115px #25D366;
    color: white;
    transform: scale(1.2);
}

.fa-facebook:hover {
    background-color: #3b5998;
    box-shadow: 0 0 15px #3b5998,
                0 0 45px #3b5998,
                0 0 75px #3b5998,
                0 0 115px #3b5998;
    color: white;
    transform: scale(1.2);

}

.fa-twitter:hover {
    background-color: #00acee;
    box-shadow: 0 0 15px #00acee,
                0 0 45px #00acee,
                0 0 75px #00acee,
                0 0 115px #00acee;
    color: white;
    transform: scale(1.2);
}

.fa-instagram:hover {
    background: linear-gradient(45deg, rgba(254,218,117,0.8) 0%, rgba(250,126,30,0.8) 25%, rgba(214,41,118,0.8) 50%, rgba(150,47,191,0.8) 75%, rgba(79,91,213,0.8) 100%);
    box-shadow: 0px 0 15px rgba(254,218,117,0.8),
                0px 0 45px rgba(250,126,30,0.8),
                0px 0 75px rgba(214,41,118,0.8),
                0px 0 115px rgba(150,47,191,0.8);
    color: white;
    transform: scale(1.2);
}

.fa-linkedin:hover {
    background-color: #0e76a8;
    box-shadow: 0 0 15px #0e76a8,
                0 0 45px #0e76a8,
                0 0 75px #0e76a8,
                0 0 115px #0e76a8;
    color: white;
    transform: scale(1.2);
}

.fa-youtube:hover {
    background-color: #c4302b;
    box-shadow: 0 0 15px #c4302b,
                0 0 45px #c4302b,
                0 0 75px #c4302b,
                0 0 115px #c4302b;
    color: white;
    transform: scale(1.2);
}

.copyright {
    font-family: avenir;
    font-size: 1.2rem;
    color: #1e1e1e;
    font-weight: bold;
    padding: 0.5em 0em;
}

/*Fin Footer*/

@media (max-width: 767px) {

    .nav {
        display: none;
    }
}

/*Inicio Media Query 768px*/

@media (min-width: 768px) {

    header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 5fr 2fr;
        grid-template-areas:
        ". . ."
        ". logo toogle"
        ". navbar ."
    }

    .logo {
        grid-area: logo;
    }

    .logo img {
        width: 90%;
    }

    .toogle {
        grid-area: toogle;
        gap: 5px;
    }

    .toogle .es, .toogle .en {
        width: 25px;
        height: 25px;
    }

    .toogle .switch {
        width: 40px;
        height: 20px;
    }

    .switch:before {
        width: 40px;
        height: 20px;
        border-radius: 40px;
    }

    .switch:after {
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }

    .switch:checked:after {
        left: 20px;
    }

    nav {
        display: grid;
        grid-area: navbar;
    }
    
    /*.navbar {
        display: flex;
        place-self: end center;
        margin-bottom: 0;
        padding: 0;
    }*/

    .nav-btsp {
        display: flex;
        place-self: end center;
        margin-bottom: 0;
        padding: 0;
    }

    .nav-item-btsp {
        width: 70px;
        height: 30px;
    }

    .nav-link-btsp {
        font-family: avenir;
        font-size: 1.5rem;
        text-align: center;
        color: #1e1e1e;
    }
    
    .nav-link-btsp:hover {
        color: #3c5784;
        font-weight: 700;
    }

    
    .mobile-navbar {
        display: none;
    }

    .banner p {
        width: 300px;
        font-size: 2.8rem;
        line-height: 5rem;
    }

    .service h2, .project h2, .location h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .project .video-container {
        flex-wrap: nowrap;
    }

    .service-card__image .service-card__title {
        font-size: 1.75rem;
    }

    .service-card__body .service-card__description {
        font-size: 1.5rem;
    }

    .service-card__body .service-card__detail {
        grid-template-columns: repeat(3, 1fr);
    }

    .partner-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-container .form-container__wrapper {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    
    }


    .contact-form .contact-form__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name ."
        "country address"
        "mail phone"
        "affair ."
        "message message";
    }

    
    .contact-form__fullname {
        grid-area: name;
    }

    .contact-form__address {
        grid-area: address;
    }

    .contact-form__country {
        grid-area: country;
    }

    .contact-form__email {
        grid-area: mail;
    }

    .contact-form__phone {
        grid-area: phone;
    }

    .contact-form__affair {
        grid-area: affair;
    }

    .contact-form__message {
        grid-area: message;
    }


    footer {
        margin-bottom: 50px;
    }

    .social-media-icons a,
    .whatsapp-icon a {
        width: 35px;
        height: 35px;
    }

    .social-media-icons a i,
    .whatsapp-icon a i {
        font-size: 1.5rem;
    }

    .social-media-container a,
    .social-media-container p {
        font-size: 1.7rem;
    }

    .copyright {
        font-size: 1.3rem;
    }
}   

@media (min-width: 1024px) {
    .logo img {
        width: 100%;
    }

    .navbar li a {
        font-size: 1.6rem;
    }

    .service h2, .project h2, .location h2 {
        font-size: 3rem;
    }

    .about__card {
        gap: 10em;
    }

    .partner-container__intro {
        font-size: 1.7rem;
    }

    .partner-card {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }


    .service-card {
        gap: 0em;
    }

    .service-card .service-card__article {
        height: 380px;
        flex-direction: row;
    }

    .service-card .service-card__article:nth-child(even) {
        flex-direction: row-reverse;
    }

    .service-card__article .service-card__image {
        height: 100%;
    }

    .service-card__article .service-card__body {
        width: 45%;
        justify-content: center;
    }

    .service-card__body .service-card__detail {
        grid-template-columns: repeat(2, 1fr);
    }
}


