@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: avenir;
  src: url(../assets/fonts/avenir_ff/AvenirLTStd-Book.otf);
}
body {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  gap: 40px;
  background-color: #f5f5f5;
}

/*Comienzo Header*/
header {
  width: 90vw;
  height: 30vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 4fr;
  grid-template-areas: ". ." ". toogle" "logo logo";
}
@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 5fr 2fr;
    grid-template-areas: ". . ." ". logo toogle" ". navbar .";
  }
}
header h1 {
  display: none;
}
header a {
  grid-area: logo;
  place-self: start center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
header a img {
  width: 80%;
}
@media screen and (min-width: 768px) {
  header a img {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  header a img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header nav {
    display: grid;
    grid-area: navbar;
  }
}
header nav .nav-btsp {
  display: flex;
  place-self: end center;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  header nav .nav-btsp {
    display: none;
  }
}
header nav .nav-btsp .nav-item-btsp {
  width: 70px;
  height: 30px;
}
header nav .nav-btsp .nav-item-btsp .nav-link-btsp {
  font-family: avenir;
  font-size: 1.5rem;
  text-align: center;
  color: #1e1e1e;
}
header nav .nav-btsp .nav-item-btsp .nav-link-btsp:hover {
  color: #3c5784;
  font-weight: 700;
}
header nav .mobile-navbar {
  width: 100vw;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 0.8em;
  background-color: #3c5784;
  border-radius: 0.5em 0.5em 0px 0px;
}
@media screen and (min-width: 768px) {
  header nav .mobile-navbar {
    display: none;
  }
}
header nav .mobile-navbar li {
  width: 40px;
  height: 30px;
  display: flex;
  gap: 10px;
}
header nav .mobile-navbar li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  font-family: avenir;
  font-size: 2rem;
  color: #f5f5f5;
  text-decoration: none;
}
header nav .mobile-navbar li a:hover {
  color: #b0b0b0;
}
header .toogle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5px;
  grid-area: toogle;
  place-self: start end;
}
@media screen and (min-width: 768px) {
  header .toogle {
    grid-area: toogle;
    gap: 5px;
  }
}
header .toogle i {
  width: 17.5px;
  height: 17.5px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  header .toogle i {
    width: 25px;
    height: 25px;
  }
}
header .toogle .es {
  background-image: url(/assets/icons/flagespaña.svg);
}
header .toogle .en {
  background-image: url(/assets/icons/flaguk.svg);
}
header .toogle .switch {
  position: relative;
  width: 25px;
  height: 12.5px;
}
@media screen and (min-width: 768px) {
  header .toogle .switch {
    width: 40px;
    height: 20px;
  }
}
header .toogle .switch:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 12.5px;
  background-color: #b0b0b0;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  header .toogle .switch:before {
    width: 40px;
    height: 20px;
    border-radius: 40px;
  }
}
header .toogle .switch:after {
  content: "";
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 2px solid #b0b0b0;
  box-sizing: border-box;
  transition: 0.25s;
}
@media screen and (min-width: 768px) {
  header .toogle .switch:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
}
header .toogle .switch:checked:after {
  left: 12.5px;
  border: 2px solid #b0b0b0;
}
@media screen and (min-width: 768px) {
  header .toogle .switch:checked:after {
    left: 20px;
  }
}
header .toogle .switch:checked:before {
  background-color: #b0b0b0;
}

/*Fin Header*/
.home-main {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 150px;
}
.home-main .carousel {
  height: 67.5vh;
}
.home-main .carousel .carousel-container {
  height: 100%;
}
.home-main .carousel .carousel-container .carousel-item-container {
  height: 100%;
}
.home-main .carousel .carousel-container .carousel-item-container .carousel-img {
  height: 100%;
}
.home-main .carousel .carousel-button {
  opacity: 1;
}
.home-main .carousel .carousel-button .carousel-button-icon {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .home-main .carousel .carousel-button .carousel-button-icon {
    width: 30px;
    height: 30px;
  }
}
.home-main .service {
  width: 90vw;
  display: grid;
  margin: 0 auto;
  gap: 50px;
}
.home-main .service h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #3c5784;
  text-align: center;
  padding: 0.25em;
}
@media screen and (min-width: 768px) {
  .home-main .service h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .home-main .service h2 {
    font-size: 3rem;
  }
}
.home-main .service .service-container {
  display: grid;
  grid-auto-rows: 36rem;
  grid-template-columns: repeat(auto-fit, 26rem);
  place-content: center;
  gap: 50px;
}
.home-main .service .service-container article {
  display: flex;
  cursor: pointer;
  position: relative;
  width: 260px;
  height: 360px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
  /*mask-image: linear-gradient(0deg, rgba(205,205,205,1) 20%, rgba(230,230,230,1) 45%, rgba(255,255,255,0.01) 100%);
  -webkit-mask-image: linear-gradient(0deg, rgba(205,205,205,1) 20%, rgba(230,230,230,1) 45%, rgba(255,255,255,0.01) 100%);*/
}
.home-main .service .service-container article:hover {
  transform: scale(1.05);
  box-shadow: 8px 10px 20px -1px rgba(0, 0, 0, 0.6);
}
.home-main .service .service-container article:hover .icon img {
  filter: invert(20%) sepia(96%) saturate(3536%) hue-rotate(229deg) brightness(200%) contrast(90%);
  width: 85px;
  height: 85px;
}
.home-main .service .service-container article:hover .icon h3 {
  color: #ffffff;
  font-size: 1.8rem;
}
.home-main .service .service-container article .icon {
  position: absolute;
  top: 0px;
  padding: 25px 15px 0px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 16px;
  border-radius: 16px;
  background-image: linear-gradient(180deg, rgb(190, 190, 190) 20%, rgba(190, 190, 190, 0.85) 45%, rgba(190, 190, 190, 0.7) 55%, rgba(190, 190, 190, 0.6) 65%, rgba(190, 190, 190, 0.5) 75%, rgba(190, 190, 190, 0.4) 85%, rgba(190, 190, 190, 0.3) 90%, rgba(190, 190, 190, 0.25) 95%, rgba(190, 190, 190, 0.15) 100%);
}
.home-main .service .service-container article .icon img {
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(34%) sepia(5%) saturate(4446%) hue-rotate(179deg) brightness(92%) contrast(93%);
}
.home-main .service .service-container article .icon h3 {
  width: 80%;
  font-family: avenir;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 0px;
}
.home-main .service .service-container .engineering {
  background-image: url(./../assets/images/plano2.jpg);
  background-position: -200px 50px;
}
.home-main .service .service-container .automation {
  background-image: url(./../assets/images/automatizacion.jpg);
  background-position: center;
}
.home-main .service .service-container .ethernet {
  background-image: url(./../assets/images/ethernet.jpg);
  background-position: -200px 75px;
}
.home-main .service .service-container .datacenter {
  background-image: url(./../assets/images/datacenter.jpg);
  background-position: -150px;
}
.home-main .service .service-container .hardware {
  background-image: url(./../assets/images/hardware2.jpg);
  background-position: -165px 50px;
}
.home-main .service .service-container .software {
  background-image: url(./../assets/images/software2.jpg);
  background-position: -225px 60px;
}
.home-main .project {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  gap: 50px;
}
.home-main .project h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #3c5784;
  text-align: center;
  padding: 0.25em;
}
@media screen and (min-width: 768px) {
  .home-main .project h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .home-main .project h2 {
    font-size: 3rem;
  }
}
.home-main .project .video-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  border-radius: 7px;
}
@media screen and (min-width: 768px) {
  .home-main .project .video-container {
    flex-wrap: nowrap;
  }
}
.home-main .project .video-container article {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .home-main .project .video-container article {
    height: 600px;
    justify-content: start;
  }
}
.home-main .project .video-container article .iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.home-main .project .video-container article .iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px 20px 0px 0px;
}
.home-main .project .video-container article p {
  font-family: avenir;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0.8em;
  color: #ffffff;
  text-align: justify;
  opacity: 0.8;
  margin-bottom: 0px;
  overflow-y: hidden;
}
.home-main .project .video-container article p:hover {
  overflow-y: auto;
}
.home-main .project .video-container article p:hover::-webkit-scrollbar {
  width: 6px;
}
@media screen and (min-width: 768px) {
  .home-main .project .video-container article p:hover::-webkit-scrollbar {
    width: 7.5px;
  }
}
@media screen and (min-width: 1024px) {
  .home-main .project .video-container article p:hover::-webkit-scrollbar {
    width: 9px;
  }
}
.home-main .project .video-container article p:hover::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 100vw;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.home-main .project .video-container article p:hover::-webkit-scrollbar-thumb {
  background: #ffba43;
  border: 2px solid #1e1e1e;
  border-radius: 100vw;
}
.home-main .location {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.home-main .location h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #3c5784;
  padding: 0.25em;
}
@media screen and (min-width: 768px) {
  .home-main .location h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .home-main .location h2 {
    font-size: 3rem;
  }
}
.home-main .location iframe {
  width: 100%;
}

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background-color: #f5f5f5;
}
.about-main .about {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.about-main .about h2 {
  font-family: avenir;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  text-align: center;
  color: #3c5784;
  margin-bottom: 0px;
}
.about-main .about p {
  font-family: avenir;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  color: #3c5784;
  margin-bottom: 0px;
}
.about-main .about .about__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
  flex-wrap: wrap;
  margin-top: 3em;
}
@media screen and (min-width: 1024px) {
  .about-main .about .about__card {
    gap: 10em;
  }
}
.about-main .about .about__card .about-card__wrapper {
  width: 28em;
  height: 53em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 2.5em;
  background-color: #ffffff;
  box-shadow: 0.7em 0.7em 0.3em 0em rgba(0, 0, 0, 0.4);
}
.about-main .about .about__card .about-card__wrapper .about-card__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 2.5em 2em;
  position: relative;
}
.about-main .about .about__card .about-card__wrapper .about-card__head .about-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #019aa2;
  border-radius: 2.5em 2.5em 0 2.5em;
}
.about-main .about .about__card .about-card__wrapper .about-card__head .about-card__overlay::before, .about-main .about .about__card .about-card__wrapper .about-card__head .about-card__overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background-color: #019aa2;
}
.about-main .about .about__card .about-card__wrapper .about-card__head .about-card__overlay::after {
  border-radius: 0 2.5em 0 0;
  background-color: #ffffff;
}
.about-main .about .about__card .about-card__wrapper .about-card__head .about-card__image {
  position: relative;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.3em;
}
.about-main .about .about__card .about-card__wrapper .about-card__head .about-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 5%;
  border-radius: 50%;
  border: 0.4em solid #019aa2;
}
.about-main .about .about__card .about-card__wrapper .about-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2.5em 2em;
}
.about-main .about .about__card .about-card__wrapper .about-card__body .about-card__name {
  font-family: avenir;
  font-size: 2rem;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 0;
}
.about-main .about .about__card .about-card__wrapper .about-card__body .about-card__position {
  font-family: avenir;
  font-size: 2rem;
  font-weight: bold;
  color: #1e1e1e;
  margin-bottom: 0;
}
.about-main .about .about__card .about-card__wrapper .about-card__body .about-card__description {
  width: 100%;
  font-family: avenir;
  font-size: 1.5rem;
  font-weight: 500;
  color: #707070;
  text-align: center;
  line-height: 3rem;
  padding: 0.1em;
  border-bottom: 0.2em solid #c7c7c7;
  border-top: 0.2em solid #c7c7c7;
}

.service-main {
  width: 100%;
}
.service-main .service-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 4em;
}
@media screen and (min-width: 1024px) {
  .service-main .service-card {
    gap: 0em;
  }
}
.service-main .service-card .service-card__article {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 1.5em;
}
@media screen and (min-width: 1024px) {
  .service-main .service-card .service-card__article {
    height: 380px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .service-main .service-card .service-card__article:nth-child(even) {
    flex-direction: row-reverse;
    animation-name: fadeinleft;
    animation-duration: 3s;
    animation-delay: 0s;
  }
}
@keyframes fadeinleft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .service-main .service-card .service-card__article:nth-child(odd) {
    animation-name: fadeinright;
    animation-duration: 3s;
    animation-delay: 0s;
  }
}
@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}
.service-main .service-card .service-card__article .service-card__image {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 4em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  .service-main .service-card .service-card__article .service-card__image {
    height: 100%;
  }
}
.service-main .service-card .service-card__article .service-card__image.engineering {
  background-image: url(./../assets/images/plano2.jpg);
}
.service-main .service-card .service-card__article .service-card__image.automation {
  background-image: url(./../assets/images/automatizacion.jpg);
}
.service-main .service-card .service-card__article .service-card__image.ethernet {
  background-image: url(./../assets/images/ethernet.jpg);
}
.service-main .service-card .service-card__article .service-card__image.datacenter {
  background-image: url(./../assets/images/datacenter.jpg);
}
.service-main .service-card .service-card__article .service-card__image.hardware {
  background-image: url(./../assets/images/hardware2.jpg);
}
.service-main .service-card .service-card__article .service-card__image.software {
  background-image: url(./../assets/images/software2.jpg);
}
.service-main .service-card .service-card__article .service-card__image h2 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  padding: 0.3em;
  text-align: center;
  background-color: rgba(1, 1, 1, 0.5);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .service-main .service-card .service-card__article .service-card__image h2 {
    font-size: 1.75rem;
  }
}
.service-main .service-card .service-card__article .service-card__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 1em;
}
@media screen and (min-width: 1024px) {
  .service-main .service-card .service-card__article .service-card__body {
    width: 45%;
    justify-content: center;
  }
}
.service-main .service-card .service-card__article .service-card__body p {
  font-family: avenir;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  line-height: 1.8rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .service-main .service-card .service-card__article .service-card__body p {
    font-size: 1.5rem;
  }
}
.service-main .service-card .service-card__article .service-card__body ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  margin-bottom: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .service-main .service-card .service-card__article .service-card__body ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.service-main .service-card .service-card__article .service-card__body ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: avenir;
  font-size: 1.5rem;
  background-color: #b0b0b0;
  color: #ffffff;
  border-radius: 0.5em;
  padding: 0.55em;
  text-align: center;
}

.partner-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.partner-main .partner-container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;
}
.partner-main .partner-container p {
  font-family: avenir;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #3c5784;
  text-align: center;
  margin-bottom: 0px;
  /*@include desktop {
      font-size: 1.7rem;
  }*/
}
.partner-main .partner-container .partner-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;
}
@media screen and (min-width: 768px) {
  .partner-main .partner-container .partner-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .partner-main .partner-container .partner-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
.partner-main .partner-container .partner-card .partner-card__item {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 2em;
}
@media screen and (min-width: 1024px) {
  .partner-main .partner-container .partner-card .partner-card__item {
    width: 80%;
  }
}
.partner-main .partner-container .partner-card .partner-card__item .partner-card__image {
  width: 100%;
  border: 0.2em solid #1e1e1e;
  padding: 0.5em;
}
.partner-main .partner-container .partner-card .partner-card__item .partner-card__name {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.form-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  gap: 0px;
  margin: 0 auto;
  background-color: #343434;
  color: #ffffff;
}
.form-container h2 {
  display: flex;
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.066667em;
  padding: 0.5em 0.666667em;
  margin-bottom: 0px;
}
.form-container .form-container__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.25em;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }
}
.form-container .form-container__wrapper .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1em;
  color: #00276c;
  background-color: #b0b0b0;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.form-container .form-container__wrapper .contact-form .contact-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  gap: 2.5em;
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name ." "country address" "mail phone" "affair ." "message message";
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__fullname {
    grid-area: name;
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__address {
    grid-area: address;
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__country {
    grid-area: country;
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__email {
    grid-area: mail;
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__phone {
    grid-area: phone;
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__affair {
    grid-area: affair;
  }
}
@media screen and (min-width: 768px) {
  .form-container .form-container__wrapper .contact-form .contact-form__form .contact-form__message {
    grid-area: message;
  }
}
.form-container .form-container__wrapper .contact-form .contact-form__form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-container .form-container__wrapper .contact-form .contact-form__form input,
.form-container .form-container__wrapper .contact-form .contact-form__form select,
.form-container .form-container__wrapper .contact-form .contact-form__form textarea {
  border: none;
  padding: 0.7em;
  background: none;
  outline: 0;
  border-bottom: 1px solid #3c5784;
  color: #ffffff;
  font-family: avenir;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.form-container .form-container__wrapper .contact-form .contact-form__form option {
  color: #222222;
}
.form-container .form-container__wrapper .contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #1e1e1e;
  box-shadow: 0 0 2em 0 rgba(255, 255, 255, 0.3);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding: 1em 0.5em;
}
.form-container .form-container__wrapper .contact-info h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
}
.form-container .form-container__wrapper .contact-info ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8em;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0;
  padding-left: 0;
}
.form-container .form-container__wrapper .contact-info p {
  color: #ffffff;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 0px;
}

/*Inicio Footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 100px 0px;
}
@media screen and (min-width: 768px) {
  footer {
    margin-bottom: 50px;
  }
}
footer .social-media-container {
  max-width: 320px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .social-media-container a, footer .social-media-container p {
  font-family: avenir;
  font-size: 1.4rem;
  color: #3c5784;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  footer .social-media-container a, footer .social-media-container p {
    font-size: 1.7rem;
  }
}
footer .social-media-container .social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  margin: 50px 0px;
}
footer .social-media-container .social-media-icons a {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer .social-media-container .social-media-icons a {
    width: 35px;
    height: 35px;
  }
}
footer .social-media-container .social-media-icons a i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-size: 1.3rem;
  color: #1e1e1e;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  footer .social-media-container .social-media-icons a i {
    font-size: 1.5rem;
  }
}
footer .social-media-container .social-media-icons a .fa-brands {
  width: 100%;
  height: 100%;
}
footer .social-media-container .social-media-icons a .fa-facebook:hover {
  background-color: #3b5998;
  box-shadow: 0 0 15px #3b5998, 0 0 45px #3b5998, 0 0 75px #3b5998, 0 0 115px #3b5998;
  color: #ffffff;
  transform: scale(1.2);
}
footer .social-media-container .social-media-icons a .fa-twitter:hover {
  background-color: #00acee;
  box-shadow: 0 0 15px #00acee, 0 0 45px #00acee, 0 0 75px #00acee, 0 0 115px #00acee;
  color: #ffffff;
  transform: scale(1.2);
}
footer .social-media-container .social-media-icons a .fa-instagram:hover {
  background: linear-gradient(45deg, rgba(254, 218, 117, 0.8) 0%, rgba(250, 126, 30, 0.8) 25%, rgba(214, 41, 118, 0.8) 50%, rgba(150, 47, 191, 0.8) 75%, rgba(79, 91, 213, 0.8) 100%);
  box-shadow: 0px 0 15px rgba(254, 218, 117, 0.8), 0px 0 45px rgba(250, 126, 30, 0.8), 0px 0 75px rgba(214, 41, 118, 0.8), 0px 0 115px rgba(150, 47, 191, 0.8);
  color: #ffffff;
  transform: scale(1.2);
}
footer .social-media-container .social-media-icons a .fa-linkedin:hover {
  background-color: #0e76a8;
  box-shadow: 0 0 15px #0e76a8, 0 0 45px #0e76a8, 0 0 75px #0e76a8, 0 0 115px #0e76a8;
  color: #ffffff;
  transform: scale(1.2);
}
footer .social-media-container .social-media-icons a .fa-youtube:hover {
  background-color: #c4302b;
  box-shadow: 0 0 15px #c4302b, 0 0 45px #c4302b, 0 0 75px #c4302b, 0 0 115px #c4302b;
  color: #ffffff;
  transform: scale(1.2);
}
footer .social-media-container .whatsapp-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .social-media-container .whatsapp-icon a {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer .social-media-container .whatsapp-icon a {
    width: 35px;
    height: 35px;
  }
}
footer .social-media-container .whatsapp-icon a i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-size: 1.3rem;
  color: #1e1e1e;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  color: #ffffff;
  background-color: #25D366;
}
@media screen and (min-width: 768px) {
  footer .social-media-container .whatsapp-icon a i {
    font-size: 1.5rem;
  }
}
footer .social-media-container .whatsapp-icon a .fa-brands {
  width: 100%;
  height: 100%;
}
footer .social-media-container .whatsapp-icon a .fa-whatsapp:hover {
  background-color: #25D366;
  box-shadow: 0 0 15px #25D366, 0 0 45px #25D366, 0 0 75px #25D366, 0 0 115px #25D366;
  color: #ffffff;
  transform: scale(1.2);
}
footer .copyright {
  font-family: avenir;
  font-size: 1.2rem;
  color: #1e1e1e;
  font-weight: bold;
  padding: 0.5em 0em;
}
@media screen and (min-width: 768px) {
  footer .copyright {
    font-size: 1.3rem;
  }
}
footer .copyright p {
  margin-bottom: 0;
}

/*Fin Footer*/

/*# sourceMappingURL=main.css.map */
