
@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}


@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin flex ($flex-direction, $align-items, $justify-content, $gap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
}