
$main-background-color: #f5f5f5;
$primary-color:#3c5784;
$secondary-color: #b0b0b0;
$light-color:#ffffff;
$dark-color: #1e1e1e;
$facebook-color:#3b5998;
$twitter-color: #00acee;
$linkedin-color: #0e76a8;
$youtube-color: #c4302b;

$font-size-xs: 1rem;
$font-size-s: 1.5rem;
$font-size-m: 2rem;
$font-size-l: 2.5rem;
$font-size-xl: 3rem;