/*Inicio Header*/
header {
    width: 90vw;
    height: 30vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-areas:
    ". ."
    ". toogle"
    "logo logo";

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 5fr 2fr;
        grid-template-areas:
        ". . ."
        ". logo toogle"
        ". navbar ."
    }
    
    h1 {
        display: none;
    }

    a {
        grid-area: logo;
        place-self: start center;
        @include flex(row, center, center, 0px);

        img {
            width: 80%;

            @include tablet {
                width: 90%;
            }

            @include desktop {
                width: 100%;
            }
        }
    }

    /*Inicio Nav*/        
    nav {
        
        @include tablet {
            display: grid;
            grid-area: navbar;
        }

        .nav-btsp {
            @include mobile {
                display: none;
            }

            display: flex;
            place-self: end center;
            margin-bottom: 0;
            padding: 0;

            .nav-item-btsp {
                width: 70px;
                height: 30px;

                .nav-link-btsp {
                    font-family: avenir;
                    font-size: 1.5rem;
                    text-align: center;
                    color: $dark-color;
                
                &:hover {
                    color: $primary-color;
                    font-weight: 700;
                    }
                }   
            } 
        }
    
            .mobile-navbar {
                width: 100vw;
                position: fixed;
                z-index: 2;
                left: 0;
                bottom: 0;
                margin: 0;
                @include flex(row, center, space-between, 0px);
                padding: .8em;
                background-color: $primary-color;
                border-radius: 0.5em 0.5em 0px 0px;

                @include tablet {
                    display: none;
                }
    
                li {
                    width: 40px;
                    height: 30px;
                    display: flex;
                    gap: 10px;
    
                    a { 
                        @include flex(row, center, center, 0px);
                        width: 100%;
                        height: 100%;
                        font-family: avenir;
                        font-size: 2rem;
                        color: $main-background-color;
                        text-decoration: none;
    
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    
        
    /*Inicio Toogle*/
    .toogle {
        @include flex(row, center, center, 2.5px);
        grid-area: toogle;
        place-self: start end;

        @include tablet {
            grid-area: toogle;
            gap: 5px;
        }

        i{
            width: 17.5px;
            height: 17.5px;
            border-radius: 100%;
            border: 1px solid #fff;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);

            @include tablet {
                width: 25px;
                height: 25px;
                }
        }

        .es {   
            background-image: url(./../assets/icons/flagespaña.svg);
            }
        
        .en {
            background-image: url(./../assets/icons/flaguk.svg);
            }
       
        .switch {
            position: relative;
            width: 25px;
            height: 12.5px;

            @include tablet {
                width: 40px;
                height: 20px;
            }

            &:before {
                content: '';
                position: absolute;
                width: 25px;
                height: 12.5px;
                background-color: $secondary-color;
                border-radius: 25px;

                @include tablet {
                    width: 40px;
                    height: 20px;
                    border-radius: 40px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 12.5px;
                height: 12.5px;
                background-color: $light-color;
                border-radius: 25px;
                border: 2px solid $secondary-color;
                box-sizing: border-box;
                transition: 0.25s;

                @include tablet {
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                }
            }

            &:checked:after {
                left: 12.5px;
                border: 2px solid $secondary-color;

                @include tablet {
                    left: 20px;
                }
            }

            &:checked:before {
                background-color: $secondary-color;
            }
        }  
    }
}
