.home-main {
    @include flex (column, none, none, 150px);
    

    .carousel {
        height: 67.5vh;

        .carousel-container {
            height: 100%;

            .carousel-item-container {
                height: 100%;

                .carousel-img {
                    height: 100%;
                }
            }
        }

        .carousel-button {
            opacity: 1;

            .carousel-button-icon {
                width: 25px;
                height: 25px;

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .service {
        width: 90vw;
        display: grid;
        margin: 0 auto;
        gap: 50px;

        h2 {
            @extend %section-title;

            @include tablet {
                font-size: $font-size-l;
                
            }

            @include desktop {
                font-size: $font-size-xl;
            }
        }

        .service-container {
            display: grid;
            grid-auto-rows: 36rem;
            grid-template-columns: repeat(auto-fit, min(26rem));
            place-content: center;
            gap: 50px;

            article {
                display: flex;
                cursor: pointer;
                position: relative;
                width: 260px;
                height: 360px;
                border-radius: 16px;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 0.2s ease-in-out;
                /*mask-image: linear-gradient(0deg, rgba(205,205,205,1) 20%, rgba(230,230,230,1) 45%, rgba(255,255,255,0.01) 100%);
                -webkit-mask-image: linear-gradient(0deg, rgba(205,205,205,1) 20%, rgba(230,230,230,1) 45%, rgba(255,255,255,0.01) 100%);*/

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 8px 10px 20px -1px rgba(0,0,0,0.60);
                }

                &:hover .icon img{
                    filter: invert(99%) sepia(69%) saturate(1529%) hue-rotate(330deg) brightness(250%) contrast(89%);
                    width: 85px;
                    height: 85px;      
                }

                &:hover .icon h3{
                    color: $primary-color;
                    font-size: 1.8rem;
                }


                .icon {
                    position: absolute;
                    top: 0px;
                    padding: 25px 15px 0px 15px;
                    width: 100%;
                    height: 100%;
                    @include flex(column, center, start, 16px);
                    border-radius: 16px;
                    background-image: linear-gradient(180deg, rgba(190,190,190,1) 20%, rgba(190,190,190,0.85) 45%, rgba(190,190,190,0.7) 55%, rgba(190,190,190,0.6) 65%, rgba(190,190,190,0.5) 75%, rgba(190,190,190,0.4) 85%, rgba(190,190,190,0.3) 90%, rgba(190,190,190,0.25) 95%, rgba(190,190,190,0.15) 100%);
                    

                    img {
                        width: 75px;
                        height: 75px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        filter: invert(34%) sepia(5%) saturate(4446%) hue-rotate(179deg) brightness(92%) contrast(93%);
                    }
                    
                    h3 {
                        width: 80%;
                        font-family: avenir;
                        font-size: 1.7rem;
                        font-weight: bold;
                        letter-spacing: 0.2rem;
                        color: $dark-color;
                        text-align: center;
                        margin-bottom: 0px;
                    }
                }
            }
            
            .engineering {
                background-image: url(./../assets/images/plano2.jpg);
                background-position: -200px 50px;
            }
            
            .automation {
                background-image: url(./../assets/images/automatizacion.jpg);
                background-position: center;
            }
            
            .ethernet {
                background-image: url(./../assets/images/ethernet.jpg);
                background-position: -200px 75px;
            }
            
            .datacenter {
                background-image: url(./../assets/images/datacenter.jpg);
                background-position: -150px;
            }
            
            .hardware {
                background-image: url(./../assets/images/hardware2.jpg);
                background-position: -165px 50px;
            }
            
            .software {
                background-image: url(./../assets/images/software2.jpg);
                background-position: -225px 60px;
            }
        } 
    }
    
    .project {
        width: 90vw;
        margin: 0 auto;
        @include flex (column, center, none, 50px);
        

        h2 {
            @extend %section-title;

            @include tablet {
                font-size: $font-size-l;
            }

            @include desktop {
                font-size: $font-size-xl;
            }
        }
        
        .video-container {
            width: 100%;
            @include flex(row, center, center, 70px);
            flex-wrap: wrap;
            border-radius: 7px;

            @include tablet {
                flex-wrap: nowrap;
            }

            article {
                width: 100%;
                height: 500px;
                @include flex (column, center, start, 10px);
                background-color: $dark-color;
                border-radius: 20px;
                overflow: hidden;

                @include tablet {
                    height: 600px;
                    justify-content: start;
                }

                .iframe-container {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        border-radius: 20px 20px 0px 0px;
                    }
                }

                p { 
                    font-family: avenir;
                    font-size: $font-size-s;
                    line-height: 2.5rem;
                    padding: 0.8em;
                    color: $light-color;
                    text-align: justify;
                    opacity: 0.8;
                    margin-bottom: 0px;
                    overflow-y: hidden;
                    

                    &:hover {
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 6px;

                            @include tablet {
                                width: 7.5px;
                            }

                            @include desktop {
                                width: 9px;
                            }
                        }
    
                        &::-webkit-scrollbar-track {
                            background: $dark-color;
                            border-radius: 100vw;
                            margin-block-start: 1em;
                            margin-block-end: 1em;
                        }
    
                        &::-webkit-scrollbar-thumb {
                            background: #ffba43;
                            border: 2px solid $dark-color;
                            border-radius: 100vw;
                        }
                    }
                }
            }
        }   
    }

    .location {
        width: 100%;
        @include flex (column, center, center, 50px);

        h2 {
            @extend %section-title;

            @include tablet {
                font-size: $font-size-l;
            }

            @include desktop {
                font-size: $font-size-xl;
            }
        }
        
        iframe {
            width: 100%;
        }
    }  
}
    
    
    
    
    
    
    
    