/*Inicio Main Asociados*/
.partner-main {
    @include flex (column, center, center, 0px);
    

    .partner-container {
        width: 80vw;
        height: auto;
        @include flex (column, center, center, 6em);
       

        p {
            font-family: avenir;
            font-size: $font-size-s;
            line-height: 3rem;
            color: $primary-color;
            text-align: center;
            margin-bottom: 0px;

            /*@include desktop {
                font-size: 1.7rem;
            }*/
        }
        /*Inicio Card Asociado*/
        .partner-card {
            width: 100%;
            height: 100%;
            @include flex (column, center, center, 6em);
            

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
            }

            @include desktop {
                grid-template-columns: repeat(3, 1fr);
            }

            .partner-card__item {
                width: 70%;
                @include flex (column, none, none, 2em);

                @include desktop {
                    width: 80%;
                }
               

                .partner-card__image {
                    width: 100%;
                    border: 0.2em solid $dark-color;
                    padding: 0.5em;
                }
                
                .partner-card__name {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.8rem;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 0px;
                }
            } 

            .item2, .item5 {
                @include desktop {
                    animation: zoomIn;
                    animation-duration: 2s;
                    animation-timing-function: ease-in-out;
                }

                @keyframes zoomIn {
                    0% {
                        opacity: 0;
                        transform: scale3d(.3,.3,.3);
                    }

                    50% {
                        opacity: 1;
                    }
                }
            }

            .item1, .item4 {
                @include desktop {
                    animation: fadeInLeft;
                    animation-duration: 2s;
                    animation-timing-function: ease-in-out;
                }

                @keyframes fadeInLeft {
                    0% {
                        opacity: 0;
                        transform: scale3d(.3,.3,.3) translate3d(-100%,0,0);
                    }

                    100% {
                        opacity: 1;
                        transform: translateZ(0);
                    }
                }
            }

            .item3, .item6 {
                @include desktop {
                    animation: fadeInRight;
                    animation-duration: 2s;
                    animation-timing-function: ease-in-out;
                }

                @keyframes fadeInRight {
                    0% {
                        opacity: 0;
                        transform: scale3d(.3,.3,.3) translate3d(100%,0,0);
                    }

                    100% {
                        opacity: 1;
                        transform: translateZ(0);
                    }
                }
            }
        }
    }    
}
    
    

